{% extends 'base.html' %}
{% block title %} list of posts{% endblock %}

{% block content %}
<form method="get">
    <input type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q }}">
    <button type="submit">Search</button>
</form>
<hr>
{% if request.GET.q %}
    <p>Search results for "{{ request.GET.q }}"</p>
{% endif %}
<hr>
<h1>Posts</h1>

{% for post in page_obj %}
    {% if post.slug %}
        <a href="{% url 'blog:post_detail' post.slug %}">
            {{ post.title }}
        </a>
    {% else %}
        {{ post.title }}
    {% endif %}
    <br>
{% endfor %}

<br>
<hr>
<br>
{% if user.is_authenticated %}
    <a href="{% url 'blog:post_create' %}">Create Post</a>
{% endif %}
<hr>
<br>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">Next</a>
    {% else %}
    {% endif %}
    
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">Next</a>
    {% else %}
    {% endif %}
</div>


{% endblock %}  